<!-- <div data-fun-test="Sticky Red Give vs Blue Donate Test">  
	<iframe src="javascript:false" class="fun-widget" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="40" width="116" style="top: 50%;right: auto;bottom: auto;left: 0px;position: fixed;z-index: 2147483644;transition-property: left;transition-duration: 500ms;transition-timing-function: ease-in-out;transition-delay: 50ms;transform: translateY(58px) rotate(-90deg);transform-origin: 0 0;">
		<div class="fun-widget" style="margin-bottom: 3px; font-size: 14px; text-align: center;">
            <div class="fun-widget-btn" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px; border-radius: 0px 0px 3px 3px; background-color: rgb(234, 35, 75); color: rgb(255, 255, 255);">
                <div class="fun-widget-btn-icon">
                  <div class="fun-widget-btn-ripple fun-widget-btn-ripple-animation" style="width: 224px; height: 224px; margin-top: -112px; margin-left: -112px; background-color: rgba(243, 128, 151, 0.4); opacity: 1;"></div> 
                  <div class="fun-widget-btn-pulse fun-widget-btn-pulse-animation" style=""><svg width="22" height="22" viewBox="0 0 22 22" class="fun-widget-btn-icon-image"><g fill="none" fill-rule="evenodd"><path fill="#ffffff" d="M18 9.249v.623c-.01.042-.021.085-.028.128a5.197 5.197 0 0 1-.655 1.936c-.29.474-.624.92-.997 1.334a16.057 16.057 0 0 1-1.54 1.535c-.503.435-1.014.862-1.54 1.255-.7.524-1.428 1.016-2.142 1.525a.13.13 0 0 1-.17 0c-.63-.44-1.275-.862-1.887-1.326a45.349 45.349 0 0 1-1.881-1.533 13.611 13.611 0 0 1-2.1-2.231 5.267 5.267 0 0 1-.947-2.092A6.276 6.276 0 0 1 4 9.892v-.643l.024-.107c.061-.28.1-.558.189-.837a3.803 3.803 0 0 1 1.783-2.168A3.837 3.837 0 0 1 8.62 5.68a3.86 3.86 0 0 1 2.268 1.255.72.72 0 0 1 .074.125c.153-.152.266-.269.385-.379a3.954 3.954 0 0 1 5.368-.018 3.85 3.85 0 0 1 1.155 1.93c.061.213.09.433.13.655z"></path></g></svg></div>
                </div> 
            	<div class="fun-widget-btn-text" style="color: rgb(255, 255, 255);">Donate</div>
     		</div>
		</div>		
</iframe>
</div> -->
<div class="social-shares">
    <a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fbootstrapious.com%2Fp%2Fbootstrap-sidebar" class="facebook" rel="nofollow">
        <svg class="svg-icon theme-solid-0"><use xlink:href="#facebook-1"></use></svg>
        <span class="sr-only">Share on Facebook</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text=Bootstrap%20Sidebar%20Tutorial%20-%20Step-by-step%20tutorial%20with%205%20sidebar%20templates%20%5Bupdated%20in%202019%5D&amp;url=https%3A%2F%2Fbootstrapious.com%2Fp%2Fbootstrap-sidebar&amp;via=bootstrapious" class="twitter" rel="nofollow">
        <svg class="svg-icon theme-solid-0"><use xlink:href="#twitter-2"></use></svg>
        <span class="sr-only">Share on Twitter</span>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fbootstrapious.com%2Fp%2Fbootstrap-sidebar&amp;source=https%3A%2F%2Fbootstrapious.com%2F" class="linkedin" rel="nofollow">
        <svg class="svg-icon theme-solid-0"><use xlink:href="#linkedin-1"></use></svg>
        <span class="sr-only">Share on LinkedIn</span>
    </a>
</div>
